<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>

  <tbody>
    <% @posts.each do |post| %>
      <div class="card d-flex flex-row" style="width: 100%; height: 300px; padding: 10px;">
      <img src="<%= post.image %>" class="card-img-top" style="width: 40%; height: 280px; object-fit: cover;" alt="<% post.tittle %>">
      <div class="card-body card-color">
        <h5 class="card-title"><%= post.tittle %></h5>
        <p class="card-text"><%= link_to post.content[...50], post %></p>
        <%= link_to 'Read more', post, class: "btn btn-light" %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-light" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>

      <% end %>




  </tbody>
</table>

<br>

 <form class="form-inline my-2 my-lg-0">
    <%= link_to 'Novo Post', new_post_path, class:"btn btn-light" %>