<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>texto:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @post.image %>
</p>
<p>
  <strong>Comments</strong>
  <%= render @post.comments.order(id: :desc) %>
  <%= render partial: 'comments/form', locals: { post: @post } %>
</p>
<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'voltar', posts_path %>
